<h1>New addition</h1>

<form action="/wizard_add">
 <label for="buffalo">Add this:</label>
 <input id="buffalo" type="text" name="number_one">

 <label for="giraffe">to this:</label>
 <input id="giraffe" type="text" name="number_two">

 <button>Add!</button>

