<h1>New division</h1>

<form action="/wizard_divide">
 <label for="buffalo">Divide this:</label>
 <input id="buffalo" type="text" name="number_one">

 <label for="giraffe">by this:</label>
 <input id="giraffe" type="text" name="number_two">

 <button>Divide!</button>

