<h1>New multiplication</h1>

<form action="/wizard_multiply">
 <label for="buffalo">Multiply this:</label>
 <input id="buffalo" type="text" name="number_one">

 <label for="giraffe">by this:</label>
 <input id="giraffe" type="text" name="number_two">

 <button>Multiply!</button>

