<h1>New subtraction</h1>

<form action="/wizard_subtract">
 <label for="buffalo">Subtract this:</label>
 <input id="buffalo" type="text" name="number_one">

 <label for="giraffe">from this:</label>
 <input id="giraffe" type="text" name="number_two">

 <button>Subtract!</button>
