<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/results">
<div>
 <label for="buffalo">Street Address:</label>
 <input id="buffalo" type="text" name="user_street_address" placeholder="Enter the address">
</div>

 <button>Lookup Coordinates!</button>