<form action="/coords_to_weather/results">
<div>
 <label for="latitude">Latitude</label>
 <input id="latitude" type="text" name="lat" placeholder="Enter the latitude">
</div>

<div>
 <label for="longitude">Longitude</label>
 <input id="longitude" type="text" name="long" placeholder="Enter the longitude">
</div>

 <button>Lookup Weather!</button>